/*          Main Components             */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 21px;
}

body {
  font-family: Verdana, sans-serif;
  background-color: black;
  color: white;
}

/*         Reusable Components          */

.text-align-center {
  text-align: center;
}

.margin-30-auto {
  margin: 30px auto;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.download-text {
  font-size: 0.76rem;
}

.download-link {
  color: aquamarine;
}

.color-gray {
  color: gray;
}

/*------------HEADER--------------------*/
header {
  max-width: 98%;
}

.primary-header {
  font-size: 2.38rem;
}

/*------------MAIN---------------------*/
main {
  max-width: 80%;
}

main * {
  padding: 20px 0;
}

/*------------SectionApp---------------*/
.section-app-video {
  height: 800px;
  width: 800px;
  margin: 0 auto;
}

/*------------SectionDetail---------------*/
.section-detail-image {
  max-width: 100%;
  margin: 0 auto;
}

/*-----------FOOTER-------------------*/
footer {
  max-width: 98%;
  margin: 10px auto;
}

/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/

@media only screen and (max-width: 1400px) {
  html {
    font-size: 20px;
  }

  .primary-header {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 18px;
  }

  .primary-header {
    font-size: 1.8rem;
  }

  main {
    max-width: 90%;
  }

  .section-app-video {
    height: 500px;
    width: 500px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 760px) {
  html {
    font-size: 16px;
  }

  .primary-header {
    font-size: 1.6rem;
  }

  main {
    max-width: 100%;
  }
}

@media only screen and (max-width: 505px) {
  html {
    font-size: 13px;
  }

  .primary-header {
    font-size: 1.3rem;
  }
}
